.error-indicator {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: orange;
}
.error-indicator img {
    height: 60px;
    opacity: 0.5;
    margin-bottom: 1rem;
}
.error-indicator span {
    display: block;
}
.error-indicator .boom {
    text-transform: uppercase;
    font-weight: 600;
}